

<div class="container">

    <br>
    <br>
    <div class="card text-center">

        <form action="login" method="post">
            <input type="hidden" name="id">
            <div class="form-group m-3">
                <label for="">user</label>
                <input type="text" placeholder="user" name="user">
            </div>
            <div class="form-group m-3">
                <label for="">pass</label>
                <input type="text" placeholder="pass" name="pass">
            </div>
            <div class="form-group m-3">
             <button type="submit" class="btn btn-info">Login</button>
            </div>
        </form>
        <div class="form-group m-3">
            <a href="/register" class="btn btn-success" >Register</a>
           </div>
    </div>

</div>
